.meirl {
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
    backdrop-filter: blur(15px);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    backdrop-filter: blur(15px);
}

.about__card:hover {
    background: var(--color-on);
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    backdrop-filter: blur(15px);
}

.passions {
    margin-top: 1rem;
    display: flex;
}

.passion {
    font-size: 0.7rem;
    padding: 0.5rem;
    margin-right: 1rem;
    color: var(--color-white);
    border-radius: 2rem;
    cursor: default;
    max-height: 2.5rem;
}

#technologies {
    background-color: seagreen;
    transition: var(--transition);
}

#technologies:hover {
    background-color: #246b43;
    transition: var(--transition);
}

#aerospace {
    background-color: royalblue;
}

#aerospace:hover {
    background-color: #3454b2;
    transition: var(--transition);
}

#astronomie {
    background-color: rebeccapurple;
}

#astronomie:hover {
    background-color: #4b2671;
    transition: var(--transition);
}

#recherche {
    background-color: rgba(255, 140, 0, 0.41);
}

#recherche:hover {
    background-color: rgba(255, 140, 0, 0.29);
    transition: var(--transition);
}

.passion_icon {
    font-size: 1.2em;
    margin-right: 0.3rem;
    padding-top: 0.2rem;
}

/* =========== MEDIA (tablette) =========== */
@media screen and (max-width: 1024px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* =========== MEDIA (telephone) =========== */
@media screen and (max-width: 600px){
    .about__me {
        width: 60%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .passion {
        padding: 0;
    }
}