nav {
    background: #121212;
    width: max-content;
    padding: 0.5rem 0.6rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  nav a {
    background: transparent;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    display: flex;
    color: #a1a1b7;
    font-size: 1.1rem;
    transition: background 0.3s;
    border-color: transparent;
  }
  
  nav a:hover {
    background: #1b82ff;
    color: white;
    cursor: pointer;
  }
  
  nav a.active {
    background: #1b82ff;
    color: rgb(255, 255, 255);
    border-radius: 3rem;
    padding: 1rem 2rem 1rem 2rem;
  }